<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pessoa-heading" data-cy="PessoaCreateUpdateHeading" jhiTranslate="talentosApp.pessoa.home.createOrEditLabel">
        Criar ou editar Pessoa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.cpf" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
          @if (editForm.get('cpf')!.invalid && (editForm.get('cpf')!.dirty || editForm.get('cpf')!.touched)) {
            <div>
              @if (editForm.get('cpf')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.nascimento" for="field_nascimento">Nascimento</label>
          <div class="d-flex">
            <input
              id="field_nascimento"
              data-cy="nascimento"
              type="datetime-local"
              class="form-control"
              name="nascimento"
              formControlName="nascimento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.genero" for="field_genero">Genero</label>
          <select class="form-control" name="genero" formControlName="genero" id="field_genero" data-cy="genero">
            <option [ngValue]="null">{{ 'talentosApp.Genero.null' | translate }}</option>
            @for (genero of generoValues; track $index) {
              <option [value]="genero">{{ 'talentosApp.Genero.' + genero | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.miniBio" for="field_miniBio">Mini Bio</label>
          <input type="text" class="form-control" name="miniBio" id="field_miniBio" data-cy="miniBio" formControlName="miniBio" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.fotoPerfilUrl" for="field_fotoPerfilUrl">Foto Perfil Url</label>
          <div>
            @if (editForm.get('fotoPerfilUrl')!.value) {
              <img
                [src]="'data:' + editForm.get('fotoPerfilUrlContentType')!.value + ';base64,' + editForm.get('fotoPerfilUrl')!.value"
                style="max-height: 100px"
                alt="pessoa image"
              />
            }
            @if (editForm.get('fotoPerfilUrl')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('fotoPerfilUrlContentType')!.value }}, {{ byteSize(editForm.get('fotoPerfilUrl')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('fotoPerfilUrl', 'fotoPerfilUrlContentType', 'file_fotoPerfilUrl')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_fotoPerfilUrl"
              data-cy="fotoPerfilUrl"
              (change)="setFileData($event, 'fotoPerfilUrl', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="fotoPerfilUrl"
            id="field_fotoPerfilUrl"
            data-cy="fotoPerfilUrl"
            formControlName="fotoPerfilUrl"
          />
          <input
            type="hidden"
            class="form-control"
            name="fotoPerfilUrlContentType"
            id="field_fotoPerfilUrlContentType"
            formControlName="fotoPerfilUrlContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="talentosApp.pessoa.criadoEm" for="field_criadoEm">Criado Em</label>
          <div class="d-flex">
            <input
              id="field_criadoEm"
              data-cy="criadoEm"
              type="datetime-local"
              class="form-control"
              name="criadoEm"
              formControlName="criadoEm"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
